{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="flash-succes">
            {{ message }}
        </div>
    {% endfor %}

    {% if is_granted('ROLE_USER') %}
        <a href = "{{ path('app_conference_new') }}">New Conference</a>
    {% endif %}

    {% for conference in conferences %}
        <a href = "{{ path('app_conference_id', {id : conference.id}) }}">
            <div>
                <ul>
                    <li>
                        {{ conference.title }}
                    </li>
                    <li>
                        {{ conference.description }}
                    </li>
                    <li>
                        {{ conference.createdAt|date() }}
                    </li>

                        <li>
                            {{ conference.user.firstname }} {{ conference.user.lastname }}
                        </li>
                </ul>
            </div>
        </a>
    {% endfor %}
{% endblock %}