{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('app_admin') }}">
        <button>Dashboard</button>
    </a>
    <div>
        <ul>
            <li>{{ conference.title }}</li>
            <li>{{ conference.description }}</li>
            <li>{{ conference.createdAt|date() }}</li>
            <li>{{ conference.user.firstname }} {{ conference.user.lastname }}</li>
        </ul>
    </div>

    <a href = "{{ path("app_conference_remove", {id :conference.id}) }}">
        <button>Delete</button>
    </a>

    <a href = "{{ path("app_conference_edit", {id :conference.id}) }}">
        <button>Edit</button>
    </a>


{% endblock %}