{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <ul>
        <li>
            <a href = "{{ path('app_conference_admin') }}">
                <button>All conferences</button>
            </a>
        </li>
        <li>
            <a href = "{{ path('app_users_admin') }}">
                <button>All users</button>
            </a>
        </li>
        <li>
            <a href = "{{ path('app_conference_top_admin') }}">
                <button>Top conferences</button>
            </a>
        </li>

        <li>
            <a href = "{{ path('app_admin_conference_rated') }}">
                <button>See  rated conferences</button>
            </a>
        </li>

        <li>
            <a href = "{{ path('app_admin_conference_unrated') }}">
                <button>See  unrated conferences</button>
            </a>
        </li>

        <li>
            <a href = "{{ path('app_vote') }}">
                <button>See votes</button>
            </a>
        </li>


    </ul>

{% endblock %}
