{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('home') }}">
        <button>Back</button>
    </a>
    <div>
        <ul>
            <li>{{ conference.title }}</li>
            <li>{{ conference.description }}</li>
            <li>{{ conference.createdAt|date() }}</li>
            <li>{{ conference.user.firstname }} {{ conference.user.lastname }}</li>
        </ul>
    </div>

    {% if app.user != null %}

        {% if app.user.id == conference.user.id %}

            <a href = "{{ path("app_conference_remove", {id :conference.id}) }}">
                <button>Delete</button>
            </a>

            <a href = "{{ path("app_conference_edit", {id :conference.id}) }}">
                <button>Edit</button>
            </a>

        {% endif %}

    {% endif %}

{% endblock %}